body {
	background-color: lightblue;
	padding-top: 5rem;
}
footer {
	background-color: #777;
}
#projects	{
	background-color: #e2edff;
}
}
#about {
	background-color: #777;
	color: white;
}